.cart-container {
  .cart-empty {
    margin: 20vh 25vw;
    width: 200px;

    > span {
      font-size: 20px;
      color: #000000;
      text-align: center;
      min-width: 50px;
    }
  }

  .table-container {
    padding: 20px;
    overflow-x: scroll;

    table {
      width: 100vw;
      min-width: 500px;
      border-collapse: collapse;
    }
    th {
      background-color: #f2f2f2;
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    td {
      padding: 8px;
      border-bottom: 1px solid #ddd;

      > button {
        border: none;
        outline: none;
        color: rgb(227, 49, 49);
        background-color: transparent;
      }
    }

    .quantity-toggle {
      cursor: pointer;
      margin: 0 15px;
      color: black;
      position: relative;

      .quantity-toggle-icon {
        position: absolute;
        top: -13px;
        right: -6px;
      }
    }
  }
}
